body,
html
{ 
    margin: 0; 
    padding: 0; 
}

body
{
    background: rgba(0, 0, 0, 1.0);
    background-image: url('/images/background.jpg');
    font-family: Verdana, sans-serif;
	overflow: hidden;
}

.d-none
{
	display: none;
}

.game-container
{
	width: 100%;
	height: 100%;
    text-align: center;
}

.game-container > .game
{ 
	align-items: center;
    display: flex;
	height: 100vh;
	justify-content: space-around;
    margin: auto;
	width: 100vw;
	max-width: 1440px;
}

@media (max-width: 576px) 
{
    .game-container > .game
    {
		display: block;
        width: 100vw;
    }
}

.game-container .enemy-ships,
.game-container .allied-ships
{
	display: flex;
	flex-wrap: wrap;
	max-width: 680px;
}

.game-container > .game img
{
	border: 1px dotted rgba(255, 255, 255, 0.5);
	display: block;
	width: calc(100% / 16 - 2px);
	margin: 0;
	padding: 0;
}

@media (max-width: 576px) 
{
    .game-container > .game img
    {
		height: calc(6vw - 2px);
		width: calc(6vw - 2px);
    }
}

.grid-wrapper label
{
	color: rgba(255, 255, 255, 0.9);
	display: inline-block;
	font-size: 0.85em;
	margin: 10px; 
}