@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

body,
html
{ 
	box-sizing: border-box;
	margin: 0; 
    padding: 0; 
}

body
{
    background: rgba(0, 0, 0, 1.0);
	background-image: url('/images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Teko', sans-serif;
	overflow: hidden;
}

.alert-wrapper
{
	height: 32px;
	margin: auto;
	max-width: 1440px;
	padding: 20px;
	width: 100vw;
}

.alert
{
	background-color: rgba(255, 128, 0, 0.9);
	border-radius: 3px;
	color: rgba(255, 255, 255, 1.0);
	display: none;
	font-size: 1.2em;
	padding: 8px 0;
	margin: auto 19px;
	text-align: center;
	width: 100%;
}

.grid-wrapper
{
	margin: 2%;
}

.game-container
{
	display: none;
	height: 100%;
	text-align: center;
	width: 100%;
}

.game-container > .game
{ 
	align-items: center;
    display: flex;
	justify-content: space-around;
    margin: auto;
	width: 100vw;
	max-width: 1440px;
}

@media (max-width: 576px) 
{
    .game-container > .game
    {
		display: block;
        width: 100vw;
    }
}

.game-container .enemy-ships,
.game-container .allied-ships
{
	border: 2px solid transparent;
	cursor: not-allowed;
	display: flex;
	flex-wrap: wrap;
	max-width: 680px;
}

.game-container .enemy-ships img,
.game-container .allied-ships img
{
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 0;
	display: block;
	height: 100%;
	width: calc(100% / 16 - 1.08px);
	margin: 0;
	padding: 0;
}

@media (max-width: 991.98px) 
{
    .game-container .enemy-ships img,
	.game-container .allied-ships img
    {
		height: calc(6vw - 2px);
		width: calc(6vw - 2px);
    }
}

.game-container .enemy-ships img[data-x="0"],
.game-container .allied-ships img[data-x="0"]
{
	border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.game-container .enemy-ships img[data-y="0"],
.game-container .allied-ships img[data-y="0"]
{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.game-container .enemy-ships.active-grid,
.game-container .allied-ships.active-grid
{
	border: 2px solid rgba(255, 255, 255, 1.0);
}

.game-container .enemy-ships.active-grid
{
	cursor: pointer !important;
}

.grid-wrapper label
{
	color: rgba(255, 255, 255, 0.9);
	display: inline-block;
	font-size: 1.4em;
	margin: 10px 1px 1px 2px;
	text-align: left;
	width: 100%; 
}